In [88]:
# reading in our data, looks like we only have 112K trips this month yeah that seems to be true
import pandas as pd
import numpy as np
import datetime as dt
import geopy
# geopandas will noty install no clue why
import geopandas

from shapely.geometry import Point


# df = geopandas.tools.reverse_geocode(  
#     [Point(-71.0594869, 42.3584697), Point(-77.0365305, 38.8977332)]
# )
# df  
# by_coordinates('40.747574', '-73.956461' )

data = pd.read_csv('data/202308-citibike-tripdata.csv')

data.head()

data.shape

C:\Users\micha\AppData\Local\Temp\ipykernel_14672\885054151.py:17: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/202308-citibike-tripdata.csv')

(4093169, 13)

In [2]:
# I can't get this to workl and need to leave it alone 

# import geopy
# import pandas as pd


# def get_zipcode(df, geolocator, lat_field, lon_field):
#     location = geolocator.reverse((df[lat_field], df[lon_field]))
#     return location.raw['address']['postcode']


# geolocator = geopy.Nominatim(user_agent="geoapiExercises")

# df = pd.DataFrame({
#     'Lat': [29.39291],
#     'Lon': [-98.50925]
# })
# zipcodes = df.apply(get_zipcode, axis=1, geolocator=geolocator, lat_field='Lat', lon_field='Lon')

In [3]:
# df2.loc[df2['end_station_name'] > 2].sort_values(by=['end_station_name'])
# data['started_at'] == dt.date(2023, 8, 1)

# df[["col1", "col2", "col3"]] = df[["col1", "col2", "col3"]].apply(pd.to_datetime)
# data[["started_at", "ended_at"]].apply(pd.to_datetime)
# data
# data.dtypes

# seprating out day and hour into their own columns because I don't know how to 
# search them otherwise.. probably not hard but I don't know how to do it 
day = pd.to_datetime(data.started_at).dt.day
hour = pd.to_datetime(data.started_at).dt.hour
day_week = pd.to_datetime(data.started_at).dt.dayofweek

print(day)
print(hour)
print(day_week)

0          29
1           6
2           2
3          14
4           3
           ..
4093164     1
4093165    27
4093166    24
4093167     6
4093168    29
Name: started_at, Length: 4093169, dtype: int64
0          21
1          19
2          20
3          13
4          13
           ..
4093164    17
4093165    17
4093166     8
4093167    13
4093168    17
Name: started_at, Length: 4093169, dtype: int64
0          1
1          6
2          2
3          0
4          3
          ..
4093164    1
4093165    6
4093166    3
4093167    6
4093168    1
Name: started_at, Length: 4093169, dtype: int64

In [4]:
data.insert(2, "day", day, True)
data.insert(3, "hour", hour, True)
data.insert(3, "day_of_week", day_week, True)

In [5]:
data

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C5E94016E7939757,classic_bike,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,member
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,member
2,341D3CE4743A92EC,classic_bike,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,member
3,21C763DECA96FD02,classic_bike,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,member
4,A8533C28598A6AB8,classic_bike,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093164,1DF107B2D3236068,classic_bike,1,1,17,2023-08-01 17:08:26,2023-08-01 17:17:22,W 17 St & 8 Ave,6148.02,Gramercy Park N & Gramercy Park E,6013.12,40.741776,-74.001497,40.737950,-73.985090,member
4093165,168B289864D8DE47,classic_bike,27,6,17,2023-08-27 17:06:25,2023-08-27 17:23:47,W 17 St & 8 Ave,6148.02,W 47 St & 10 Ave,6824.07,40.741776,-74.001497,40.762699,-73.993012,member
4093166,18FC63FE8411C4B1,classic_bike,24,3,8,2023-08-24 08:22:50,2023-08-24 08:32:43,Bergen St & Vanderbilt Ave,4157.10,Kingston Ave & Herkimer St,4205.06,40.679461,-73.967905,40.678907,-73.941428,member
4093167,8806D0CDD899C339,classic_bike,6,6,13,2023-08-06 13:33:22,2023-08-06 13:38:43,Adam Clayton Powell Blvd & W 123 St,7704.04,Lenox Ave & W 133 St,7790.04,40.807832,-73.949373,40.812960,-73.941878,member
4093168,FEDA43F66995347C,classic_bike,29,1,17,2023-08-29 17:02:02,2023-08-29 17:04:51,E 7 St & Avenue A,5626.07,E 13 St & Avenue A,5779.09,40.726218,-73.983799,40.729667,-73.980680,member

In [6]:
# ohh yeah durations would be useful!

trip_duration = (pd.to_datetime(data.ended_at) - pd.to_datetime(data.started_at))
print(trip_duration)

# I guess i did not need this 
change_in_lng = data['end_lng'] - data['start_lng']
change_in_lat = data['end_lat'] - data['start_lat']
print(change_in_lng)
print(change_in_lat)

0         0 days 00:35:37
1         0 days 00:01:21
2         0 days 00:06:15
3         0 days 00:30:13
4         0 days 00:47:18
                ...
4093164   0 days 00:08:56
4093165   0 days 00:17:22
4093166   0 days 00:09:53
4093167   0 days 00:05:21
4093168   0 days 00:02:49
Length: 4093169, dtype: timedelta64[ns]
0          0.022340
1          0.000583
2          0.007712
3         -0.031218
4          0.037849
             ...
4093164    0.016407
4093165    0.008485
4093166    0.026478
4093167    0.007495
4093168    0.003119
Length: 4093169, dtype: float64
0          0.065784
1         -0.003056
2         -0.005737
3         -0.054316
4          0.077913
             ...
4093164   -0.003826
4093165    0.020923
4093166   -0.000554
4093167    0.005128
4093168    0.003449
Length: 4093169, dtype: float64

In [7]:
# adding these as columns back to data

data.insert(15, "change_in_lat", change_in_lat, True)
data.insert(16, "change_in_lng", change_in_lng, True)
data.insert(17, "trip_duration", trip_duration, True)

data

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
0,C5E94016E7939757,classic_bike,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,0.065784,0.022340,0 days 00:35:37,member
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,-0.003056,0.000583,0 days 00:01:21,member
2,341D3CE4743A92EC,classic_bike,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,-0.005737,0.007712,0 days 00:06:15,member
3,21C763DECA96FD02,classic_bike,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,-0.054316,-0.031218,0 days 00:30:13,member
4,A8533C28598A6AB8,classic_bike,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,0.077913,0.037849,0 days 00:47:18,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093164,1DF107B2D3236068,classic_bike,1,1,17,2023-08-01 17:08:26,2023-08-01 17:17:22,W 17 St & 8 Ave,6148.02,Gramercy Park N & Gramercy Park E,6013.12,40.741776,-74.001497,40.737950,-73.985090,-0.003826,0.016407,0 days 00:08:56,member
4093165,168B289864D8DE47,classic_bike,27,6,17,2023-08-27 17:06:25,2023-08-27 17:23:47,W 17 St & 8 Ave,6148.02,W 47 St & 10 Ave,6824.07,40.741776,-74.001497,40.762699,-73.993012,0.020923,0.008485,0 days 00:17:22,member
4093166,18FC63FE8411C4B1,classic_bike,24,3,8,2023-08-24 08:22:50,2023-08-24 08:32:43,Bergen St & Vanderbilt Ave,4157.10,Kingston Ave & Herkimer St,4205.06,40.679461,-73.967905,40.678907,-73.941428,-0.000554,0.026478,0 days 00:09:53,member
4093167,8806D0CDD899C339,classic_bike,6,6,13,2023-08-06 13:33:22,2023-08-06 13:38:43,Adam Clayton Powell Blvd & W 123 St,7704.04,Lenox Ave & W 133 St,7790.04,40.807832,-73.949373,40.812960,-73.941878,0.005128,0.007495,0 days 00:05:21,member
4093168,FEDA43F66995347C,classic_bike,29,1,17,2023-08-29 17:02:02,2023-08-29 17:04:51,E 7 St & Avenue A,5626.07,E 13 St & Avenue A,5779.09,40.726218,-73.983799,40.729667,-73.980680,0.003449,0.003119,0 days 00:02:49,member

In [8]:
# 260K 
less_2_min = data.loc[data['trip_duration'] < pd.Timedelta("0 days 00:02:00")]

less_2_min                      
                  
# greater_5 = df2.loc[(df2['end_station_name'] > 2)&(df2['trip_duration'] > pd.Timedelta("0 days 00:05:00"))].sort_values(by=['end_station_name'])

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,-0.003056,0.000583,0 days 00:01:21,member
35,5FD46C7A01FEEBCB,classic_bike,6,6,20,2023-08-06 20:23:38,2023-08-06 20:24:47,Suydam St & Broadway,4689.03,Malcolm X Blvd & DeKalb Ave,4648.03,40.695440,-73.932230,40.693800,-73.931140,-0.001640,0.001090,0 days 00:01:09,member
115,8602C136F15FB9C0,classic_bike,6,6,12,2023-08-06 12:27:09,2023-08-06 12:29:01,E 35 St & Madison Ave,6398.08,E 43 St & Madison Ave,6551.11,40.747932,-73.982847,40.753547,-73.978966,0.005615,0.003881,0 days 00:01:52,member
127,D4B8D939683B7694,electric_bike,15,1,18,2023-08-15 18:35:29,2023-08-15 18:36:38,Greene St & Prince St,5602.06,W Broadway & Spring St,5569.06,40.725117,-73.999305,40.724947,-74.001659,-0.000171,-0.002354,0 days 00:01:09,member
289,2413500F2F4F260B,classic_bike,31,3,20,2023-08-31 20:14:02,2023-08-31 20:15:40,E 48 St & 5 Ave,6626.01,W 48 St & Rockefeller Plaza,6626.11,40.757460,-73.977439,40.757769,-73.979294,0.000309,-0.001856,0 days 00:01:38,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093086,A8B8F3B168B53160,classic_bike,24,3,4,2023-08-24 04:35:00,2023-08-24 04:36:37,Buchanan Pl & Grand Ave,8535.01,E 182 St & Morris Ave,8494.01,40.858557,-73.906583,40.856708,-73.902653,-0.001849,0.003930,0 days 00:01:37,member
4093094,7AD6535D8D727B27,classic_bike,1,1,10,2023-08-01 10:50:22,2023-08-01 10:52:05,Lenox Ave & W 130 St,7753.13,Lenox Ave & W 133 St,7790.04,40.810792,-73.943068,40.812960,-73.941878,0.002168,0.001190,0 days 00:01:43,member
4093116,D68C06EEA0272836,classic_bike,3,3,9,2023-08-03 09:01:13,2023-08-03 09:02:49,Lenox Ave & W 130 St,7753.13,Lenox Ave & W 133 St,7790.04,40.810792,-73.943068,40.812960,-73.941878,0.002168,0.001190,0 days 00:01:36,member
4093141,A6D65F75D9734974,classic_bike,12,5,9,2023-08-12 09:41:16,2023-08-12 09:43:06,Greenpoint Ave & Manhattan Ave,5785.05,Milton St & Franklin St,5752.07,40.730257,-73.954050,40.729060,-73.957790,-0.001197,-0.003740,0 days 00:01:50,member
4093149,84591E353BB71528,classic_bike,4,4,1,2023-08-04 01:05:53,2023-08-04 01:07:49,Greenpoint Ave & Manhattan Ave,5785.05,Milton St & Franklin St,5752.07,40.730260,-73.953940,40.729060,-73.957790,-0.001200,-0.003850,0 days 00:01:56,member

In [9]:
# 130 k rides less then 2 minutes start and stop at the same station
less_2_min_same_satation = less_2_min.loc[less_2_min['start_station_name'] == less_2_min['end_station_name']]

# some quick stats
# almost 2 min, was someone really riding 
print(less_2_min_same_satation['trip_duration'].max())
print(less_2_min_same_satation['trip_duration'].mean())
# not sure what to make of this 
print(less_2_min_same_satation['trip_duration'].min())

0 days 00:01:59
0 days 00:00:32.266791216
-1 days +23:36:57

In [10]:
# so I could get lots  of information from this I persume 
print(less_2_min_same_satation['start_station_name'].value_counts()) 

# spitting it out
less_2_min_same_satation.to_csv("data/less_2_min_same_satation.csv", sep='\t', encoding='utf-8')

11 Ave & W 41 St                     625
West St & Chambers St                559
Broadway & W 58 St                   494
Grand Concourse & E 164 St           460
Grand Army Plaza & Central Park S    447
                                    ...
60 St & 37 Ave                         1
Ditmars Blvd & 48 St                   1
99 St & Astoria Blvd                   1
31 Ave & 86 St                         1
W 211 St & 10 Ave                      1
Name: start_station_name, Length: 1909, dtype: int64

In [45]:
# ok trying to aggreate my data so I have show all the data 

# subset_1 = less_2_min_same_satation.groupby(['day_of_week', 'hour', 'start_station_id']).agg({'end_station_name':'size', 'trip_duration':'mean'}).reset_index() 

day_0 = less_2_min_same_satation['day'].apply(lambda x: 0)

subset_1 = less_2_min_same_satation.copy()

subset_1['day'] = day_0

subset_1

all_bikes = less_2_min_same_satation['rideable_type'].apply(lambda x: 'All')

subset_2 = less_2_min_same_satation.copy()

subset_2['rideable_type'] = all_bikes

subset_2

broken_bikes = pd.concat([less_2_min_same_satation, subset_1])
broken_bikes = pd.concat([broken_bikes, subset_2])

broken_bikes.to_csv("data/broken_bikes.csv", sep='\t', encoding='utf-8')
broken_bikes

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
318,2D5B8543FC111578,electric_bike,18,4,8,2023-08-18 08:21:26,2023-08-18 08:21:58,E 77 St & 1 Ave,7020.02,E 77 St & 1 Ave,7020.02,40.770956,-73.953562,40.770956,-73.953562,0.000000,0.000000,0 days 00:00:32,member
320,3933C900C5EA2E79,classic_bike,16,2,9,2023-08-16 09:11:46,2023-08-16 09:12:32,Crescent St & 34 Ave,6759.15,Crescent St & 34 Ave,6759.15,40.761080,-73.930562,40.761080,-73.930562,0.000000,0.000000,0 days 00:00:46,member
324,AD49666985918353,classic_bike,21,0,20,2023-08-21 20:52:43,2023-08-21 20:53:01,E 77 St & 1 Ave,7020.02,E 77 St & 1 Ave,7020.02,40.771028,-73.953285,40.770956,-73.953562,-0.000073,-0.000277,0 days 00:00:18,member
326,D23EB79D3621688C,classic_bike,31,3,9,2023-08-31 09:21:03,2023-08-31 09:21:30,Crescent St & 34 Ave,6759.15,Crescent St & 34 Ave,6759.15,40.761080,-73.930562,40.761080,-73.930562,0.000000,0.000000,0 days 00:00:27,member
328,743C4E266280A8D0,classic_bike,21,0,22,2023-08-21 22:35:42,2023-08-21 22:36:30,Madison St & Montgomery St,5262.09,Madison St & Montgomery St,5262.09,40.713126,-73.984844,40.713126,-73.984844,0.000000,0.000000,0 days 00:00:48,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4092038,7E1ABD1B4D230550,All,14,0,15,2023-08-14 15:19:19,2023-08-14 15:20:13,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:54,casual
4092042,8F4454A9401970DB,All,14,0,7,2023-08-14 07:12:59,2023-08-14 07:13:51,Prospect Park SW & 10 Ave,3611.02,Prospect Park SW & 10 Ave,3611.02,40.659945,-73.977504,40.659945,-73.977504,0.000000,0.000000,0 days 00:00:52,casual
4092649,154918EA89C7B3AE,All,7,0,18,2023-08-07 18:31:26,2023-08-07 18:31:38,44 Dr & Jackson Ave,6352.01,44 Dr & Jackson Ave,6352.01,40.747182,-73.943264,40.747182,-73.943264,0.000000,0.000000,0 days 00:00:12,casual
4092650,9541900BD9F3B69C,All,9,2,8,2023-08-09 08:04:58,2023-08-09 08:05:38,Riverside Blvd & W 67 St,7183.03,Riverside Blvd & W 67 St,7183.03,40.777507,-73.988886,40.777507,-73.988886,0.000000,0.000000,0 days 00:00:40,casual
4092655,8DC47B48F9AAABBE,All,16,2,15,2023-08-16 15:35:26,2023-08-16 15:36:02,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:36,casual

In [11]:
less_2_min_same_satation.loc[less_2_min_same_satation['day'] == 24]['start_station_name'].value_counts()

Convent Ave & W 135 St         20
Bleecker St & Crosby St        16
E 170 St & Sheridan Ave        16
7 Ave & Central Park South     16
Morris Ave & McClellan St      16
                               ..
49 St & 31 Ave                  1
10 Ave & W 207 St               1
W Broadway & W Houston St       1
8 Ave & W 24 St                 1
W 186 St & St. Nicholas Ave     1
Name: start_station_name, Length: 972, dtype: int64

In [12]:
# so this is a ton of data and I need to trim it down, this is for the animated 
# map

# df.loc[(df['team'] == 'B') & (df['points'] > 8)]
# one_day = data.loc[data['day'] == pd.to_datetime('2023-08-01')]
one_day = data.loc[(data['day'] == 1) & (data['hour'] < 4)]
# df.loc[df['column_name'] == some_value]

In [13]:
# Ok so this I can work with 
one_day

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:46:09,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.847798,-73.901883,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 00:42:52,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.754610,-73.991770,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:43:01,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.707678,-73.940162,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:08:04,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.768431,-73.988824,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:09:35,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.729039,-73.994046,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:00:23,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.708084,-73.911008,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:01,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755103,-73.974987,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:35:08,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.705661,-73.913107,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:13:00,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.699220,-73.897950,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:23:35,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [14]:
# dropping rides that never ended
one_day = one_day[one_day['end_lat'].notna()]
one_day.shape

(2871, 19)

In [15]:
one_day_1 = one_day.copy()

for i in range(1,51):

    one_day_2 = one_day.copy()

    one_day_2['started_at'] = pd.to_datetime(one_day_2['started_at']) + (i * one_day_2['trip_duration'])/50

    one_day_2['start_lat'] = one_day_2['start_lat'] + (i * one_day_2['change_in_lat'])/50
    
    one_day_2['start_lng'] = one_day_2['start_lng'] + (i * one_day_2['change_in_lng'])/50

    one_day_1 = pd.concat([one_day_1, one_day_2])

one_day_1

# one_day_2['trip_duration']/10

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:46:09,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.847798,-73.901883,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 00:42:52,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.754610,-73.991770,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:43:01,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.707678,-73.940162,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:08:04,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.768431,-73.988824,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:09:35,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.729039,-73.994046,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:07:45,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.701170,-73.890400,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:40:12,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.708090,-73.895490,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:37:35,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:24:22,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [16]:
one_day_1 = one_day_1.sort_values(by = ['started_at', 'ride_id'], ascending = [True, False], na_position = 'first')

# one_day_1 = one_day_1.sort_values(by = ['ride_id'])

# one_day_1.loc[(one_day_1['ride_id'] == '93FD3D40EE65143E')]

one_day_1.to_csv("data/second_attempt.csv", sep='\t', encoding='utf-8')

one_day_1

# one_day_final.sort_values(by = ['started_at', 'ride_id'], ascending = [True, False], na_position = 'first')

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
789965,BE1B5925CB64E4C1,electric_bike,1,1,0,2023-08-01 00:00:15.220000,2023-08-01 00:09:25,Suydam St & Knickerbocker Ave,4939.07,53 St & Flushing Ave,5257.01,40.702260,-73.923575,40.714350,-73.914050,0.012337,0.009719,0 days 00:09:21,casual
3021503,2530C842B0DA594D,classic_bike,1,1,0,2023-08-01 00:00:18.260000,2023-08-01 00:04:36,Lafayette St & Grand St,5422.09,Church St & Worth St,5359.13,40.720201,-73.998995,40.716885,-74.006501,-0.003383,-0.007660,0 days 00:04:23,member
520021,0D036C6FA4B343C2,classic_bike,1,1,0,2023-08-01 00:00:22.720000,2023-08-01 00:07:30,5 St & Market St,4843.01,DeKalb Ave & Hudson Ave,4513.06,40.699795,-73.974534,40.689888,-73.981013,-0.010109,-0.006612,0 days 00:07:16,member
3021503,2530C842B0DA594D,classic_bike,1,1,0,2023-08-01 00:00:23.520000,2023-08-01 00:04:36,Lafayette St & Grand St,5422.09,Church St & Worth St,5359.13,40.720133,-73.999148,40.716885,-74.006501,-0.003383,-0.007660,0 days 00:04:23,member
789965,BE1B5925CB64E4C1,electric_bike,1,1,0,2023-08-01 00:00:26.440000,2023-08-01 00:09:25,Suydam St & Knickerbocker Ave,4939.07,53 St & Flushing Ave,5257.01,40.702506,-73.923380,40.714350,-73.914050,0.012337,0.009719,0 days 00:09:21,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265188,EA292DE576502956,classic_bike,1,1,3,2023-08-01 03:59:11,2023-08-01 04:43:43,University Ave & W Burnside Ave,8462.09,University Ave & W Burnside Ave,8462.09,40.855370,-73.910305,40.855010,-73.910751,-0.000360,-0.000446,0 days 00:44:32,member
3758365,6885D6DC83F70D63,classic_bike,1,1,3,2023-08-01 03:59:21,2023-08-01 04:03:37,Brook Ave & E 148 St,7816.14,Willis Ave & E 137 St,7726.02,40.814386,-73.915205,40.808384,-73.923604,-0.006002,-0.008399,0 days 00:04:16,casual
625976,E67913319E5EA680,classic_bike,1,1,3,2023-08-01 03:59:27,2023-08-01 04:08:40,W 27 St & 7 Ave,6247.06,W 34 St & 11 Ave,6578.01,40.746647,-73.993915,40.755942,-74.002116,0.009295,-0.008201,0 days 00:09:13,member
1018365,E9BFB246D53255D2,classic_bike,1,1,3,2023-08-01 03:59:29,2023-08-01 04:19:36,McKibbin St & Manhattan Ave,4996.08,Van Sinderen Ave & Atlantic Ave,4087.01,40.705126,-73.943986,40.676210,-73.903510,-0.028916,0.040476,0 days 00:20:07,member
333125,3E95EE236C8F1EAD,classic_bike,1,1,3,2023-08-01 03:59:57,2023-08-01 04:07:12,36 St & 4 Ave,3420.01,62 St & 4 Ave,2923.01,40.654163,-74.004246,40.639859,-74.019776,-0.014304,-0.015530,0 days 00:07:15,member

In [17]:
one_day_1.loc[(one_day_1['ride_id'] == 'F5F60429DF82C79F')]

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:09.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755179,-73.974732,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:18.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755256,-73.974478,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:27.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755332,-73.974223,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:36.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755408,-73.973969,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:45.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755485,-73.973714,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:54.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755561,-73.973460,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:03.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755638,-73.973206,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:12.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755714,-73.972951,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:21.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755790,-73.972697,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:30,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755867,-73.972442,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:38.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755943,-73.972188,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:47.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756020,-73.971933,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:56.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756096,-73.971679,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:05.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756173,-73.971424,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:14.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756249,-73.971170,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:23.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756325,-73.970915,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:32.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756402,-73.970661,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:41.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756478,-73.970406,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:50.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756555,-73.970152,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:59,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756631,-73.969897,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:07.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756708,-73.969643,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:16.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756784,-73.969388,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:25.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756860,-73.969134,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:34.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756937,-73.968879,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:43.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757013,-73.968625,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:52.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757090,-73.968370,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:01.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757166,-73.968116,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:10.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757243,-73.967861,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:19.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757319,-73.967607,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:28,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757395,-73.967352,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:36.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757472,-73.967098,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:45.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757548,-73.966843,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:54.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757625,-73.966589,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:03.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757701,-73.966334,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:12.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757778,-73.966080,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:21.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757854,-73.965825,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:30.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757930,-73.965571,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:39.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758007,-73.965316,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:48.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758083,-73.965062,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:57,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758160,-73.964807,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:05.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758236,-73.964553,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:14.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758312,-73.964298,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:23.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758389,-73.964044,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:32.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758465,-73.963789,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:41.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758542,-73.963535,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:50.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758618,-73.963280,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:59.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758695,-73.963026,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:08.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758771,-73.962771,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:17.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758847,-73.962517,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:01,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755103,-73.974987,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member

In [18]:
one_day_2['start_lat'] = one_day_2['end_lat']

one_day_2

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:54:54,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.834015,-73.908863,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 01:00:18,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.723180,-73.994800,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:48:49,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.711674,-73.951413,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:23:01,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.770956,-73.953562,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:18:33,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.737530,-74.005589,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:07:45,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.701170,-73.890400,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:40:12,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.708090,-73.895490,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:37:35,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:24:22,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [19]:
one_day_2['start_lng'] = one_day_2['end_lng']

one_day_2

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:54:54,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.834015,-73.908863,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 01:00:18,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.723180,-73.994800,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:48:49,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.711674,-73.951413,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:23:01,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.770956,-73.953562,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:18:33,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.737530,-74.005589,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:07:45,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.701170,-73.890400,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:40:12,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.708090,-73.895490,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:37:35,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:24:22,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [20]:
one_day_final = pd.concat([one_day, one_day_2])

one_day_final

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:46:09,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.847798,-73.901883,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 00:42:52,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.754610,-73.991770,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:43:01,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.707678,-73.940162,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:08:04,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.768431,-73.988824,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:09:35,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.729039,-73.994046,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:07:45,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.701170,-73.890400,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:40:12,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.708090,-73.895490,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:37:35,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:24:22,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [21]:
one_day_final.sort_values(by = ['started_at', 'ride_id'], ascending = [True, False], na_position = 'first')

one_day_final

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:46:09,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.847798,-73.901883,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 00:42:52,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.754610,-73.991770,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:43:01,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.707678,-73.940162,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:08:04,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.768431,-73.988824,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:09:35,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.729039,-73.994046,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:07:45,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.701170,-73.890400,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:40:12,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.708090,-73.895490,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:37:35,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:24:22,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [22]:
one_day_final.to_csv("data/first_attempt.csv", sep='\t', encoding='utf-8')

In [23]:
# doing a bunch of work just to get stations though goes pretty quickly 

start_stations = data[['start_station_name', 'start_station_id','start_lat','start_lng']].copy()
start_stations = start_stations.rename(columns={"start_station_name": "station_name", "start_station_id": "station_id","start_lat": 'lat', "start_lng": "lng"})
end_stations = data[['end_station_name','end_station_id', 'end_lat','end_lng']].copy()
end_stations = end_stations.rename(columns={"end_station_name": "station_name", "end_station_id": "station_id","end_lat": 'lat', "end_lng": "lng"})


station_names =  pd.concat([start_stations, end_stations])
station_names

,station_name,station_id,lat,lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
4,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
...,...,...,...,...
4093164,Gramercy Park N & Gramercy Park E,6013.12,40.737950,-73.985090
4093165,W 47 St & 10 Ave,6824.07,40.762699,-73.993012
4093166,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428
4093167,Lenox Ave & W 133 St,7790.04,40.812960,-73.941878
4093168,E 13 St & Avenue A,5779.09,40.729667,-73.980680

In [24]:
locations = data[['start_station_name', 'start_station_id', 'start_lat','start_lng']].copy()

locations.shape

(4093169, 4)

In [25]:
locations = locations.drop_duplicates('start_station_id')

print(locations.shape)

locations.head()

(3872, 4)

,start_station_name,start_station_id,start_lat,start_lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
6,E Houston St & Columbia St,5436.11,40.719786,-73.978716

In [26]:
station_names = station_names.drop_duplicates('station_id')

print(station_names.shape)

salary_nan_count = station_names['station_id'].isna().sum()

print(salary_nan_count)


station_names

(3914, 4)
1

,station_name,station_id,lat,lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
6,E Houston St & Columbia St,5436.11,40.719786,-73.978716
...,...,...,...,...
3362744,Harborside,JC104,40.719252,-74.034234
3460054,Columbus Drive,JC014,40.718355,-74.038914
3615832,Newport Pkwy,JC008,40.728745,-74.032108
3761317,Willow Ave & 12 St,HB505,40.751867,-74.030377
3790829,Montgomery St,JC099,40.719420,-74.050990

In [27]:
station_names.to_csv("data/stations.csv", sep='\t', encoding='utf-8')

In [28]:
# just getting ride of some rows that did not seem important
subset = data.iloc[:,2:12]

# print(list(data.columns[2:3]) + list(data.columns[4:12]))

# list(data.columns[1]) + list(df.columns[4:])
subset.head()

# so really I should make a table that has station id, name, lat and long, then i can fix lost information and remove a bunch
# of columns

,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat
0,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574
1,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236
2,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445
3,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484
4,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445

In [29]:
# ha it's along the water in new jersy no wondre it's so popular at midnight 
data.loc[data['start_station_id'] == 'HB103']

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
3702216,6D64386D86D8CEA9,classic_bike,18,4,22,2023-08-18 22:27:28,2023-08-18 23:17:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bergen Ave & Sip Ave,JC109,40.728795,-74.011989,40.731009,-74.064437,0.002214,-0.052448,0 days 00:50:03,member
3977596,F78ED6338EB2EAA8,classic_bike,12,5,14,2023-08-12 14:51:54,2023-08-12 14:59:26,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,14 St Ferry - 14 St & Shipyard Ln,HB202,40.697710,-73.969835,40.752961,-74.024353,0.055251,-0.054517,0 days 00:07:32,casual

In [30]:
# calculating the duarion of the trip... what about trip to the same station??

pd.to_datetime(data.started_at)

# subset.dtypes
subset['trip_duration'] = (pd.to_datetime(data.ended_at)- pd.to_datetime(data.started_at))

subset.head()

,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,trip_duration
0,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,0 days 00:35:37
1,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,0 days 00:01:21
2,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,0 days 00:06:15
3,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,0 days 00:30:13
4,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,0 days 00:47:18

In [31]:
# so like 5 k that seem like they are meaningless or bad bikes,
# I guess this could be it's own information like how many misfires do you get a month 

# subset.loc[subset['trip_duration'] < pd.Timedelta("0 days 00:02:00")]
# subset.sort_values(by=['trip_duration'])

# 120 with no end information and seemingly long trips so possibly stolen or bad stations 
# same here possible stolen bikes is it more concentrated in certain areas 
subset.loc[subset['end_lat'].isna()]

# subset.loc[subset['start_lat'].isna()]
# should be looking for more bad data

KeyError: 'end_lat'

In [ ]:
# spliting hour and date not sure if it is nec
subset['start_date'] = pd.to_datetime(data.started_at).dt.date
subset['start_hour'] = pd.to_datetime(data.started_at).dt.hour

# subset['start_at'] = pd.to_datetime(data.started_at)

# subset.assign(Date=pd.to_datetime(subset.started_at).dt.round('H'))
# df['date'] = df['full_date'].dt.date
# df['time'] = df['full_date'].dt.time

subset.head()
# subset.dtypes

In [ ]:
# just getting rid of more unwanted data


subset = subset.iloc[:,3:]

In [ ]:
subset.head()

In [ ]:
# here I am starting to aggreate my data this does it by day and hour 
# df2 = subset.groupby(['start_station_id','end_station_id', 'start_date', 'start_hour'])['end_station_name'].count().reset_index() 

# so you can get average trip duration 
# df2 = subset.groupby(['start_station_id','end_station_id', 'start_date', 'start_hour']).agg({'end_station_name':'size', 'trip_duration':'mean'}).reset_index() 

df2 = subset.groupby(['start_station_id','end_station_id']).agg({'end_station_name':'size', 'trip_duration':'mean'}).reset_index() 


print(df2.shape)

# df2.sort_values(by=['end_station_name'])

# when we do it by day and hour we really only drop 20k of which 5k maybe bad bikes 

# so just 3K stations that have more than one trip to same station when looked at by 
# df2.loc[df2['end_station_name'] > 2].sort_values(by=['end_station_name'])

greater_5 = df2.loc[(df2['end_station_name'] > 2)&(df2['trip_duration'] > pd.Timedelta("0 days 00:05:00"))].sort_values(by=['end_station_name'])


# (df['channel'] == 'sale')&(df['type']=='A')
# maybe I should start with the whole month, then work to a week or somethiing 

greater_5.shape

In [ ]:

# here i was just checking 

# rslt_df = subset[(subset['start_station_id']=='JC003') & (subset['end_station_id']  == 'JC115')  & (subset['start_hour']  == 11)] 

# #  np.where((data['start_station_id']=='JC003') & (data['end_station_id']  == 'JC115')) & (dataFrame['JOB'].str.startswith('D')))

# rslt_df

In [ ]:
# salary_nan_count = greater_5['start_station_id'].isna().sum()

# ok will probably just redo this without pairing down my data 

salary_nan_count = greater_5['end_station_id'].isna().sum()

print(salary_nan_count)

greater_5_1 = pd.merge(greater_5, station_names, left_on='start_station_id', right_on='station_id')

greater_5_1.shape
greater_5_2 =  pd.merge(greater_5_1, station_names, left_on='end_station_id', right_on='station_id')



# greater_5_2.to_csv("data/rides.csv", sep='\t', encoding='utf-8')

greater_5_2.head()

greater_5_2 = greater_5_2.loc[(greater_5_2['end_station_name'] > 100)]

greater_5_2.to_csv("data/rides.csv", sep='\t', encoding='utf-8')

greater_5_2

In [49]:
# the other biking data 


# reading in data
new_data = pd.read_csv('data/Bicycle_Counters_20231119.csv')

new_data

,id,name,domain,latitude,longitude,interval,timezone,sens,counter
0,300028963,Willis Ave,New York City DOT,40.807046,-73.924393,0,(UTC-05:00) US/Eastern;DST,5,YAH22104565
1,100010017,Staten Island Ferry,New York City DOT,40.643387,-74.072075,15,(UTC-05:00) US/Eastern;DST,5,Y2H22104568
2,300027723,Fountain Ave,New York City DOT,40.655606,-73.862951,15,(UTC-05:00) US/Eastern;DST,5,Y2H22104569
3,300029648,Willis Ave Peds,New York City DOT,40.807046,-73.924393,15,(UTC-05:00) US/Eastern;DST,5,NaN
4,300029647,Willis Ave Bikes,New York City DOT,40.807046,-73.924393,15,(UTC-05:00) US/Eastern;DST,5,NaN
5,100057318,Broadway at 50th St,New York City DOT,40.761380,-73.984080,15,(UTC-05:00) US/Eastern;DST,5,Y2H18055362
6,100010018,Pulaski Bridge,New York City DOT,40.742563,-73.951492,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042948
7,100009426,Manhattan Bridge Ped Path,New York City DOT,40.714573,-73.994950,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042941
8,100010019,Kent Ave btw North 8th St and North 9th St,New York City DOT,40.720959,-73.960930,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042949
9,100010022,Brooklyn Bridge Bike Path,New York City DOT,40.709274,-74.000990,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042940
10,300020241,Brooklyn Bridge Bicycle Path (Roadway),New York City DOT,40.712656,-74.004464,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042943
11,100055175,Manhattan Bridge Interference Calibration 2019...,New York City DOT,0.000000,0.000000,15,(UTC-05:00) US/Eastern;DST,5,Y2H13074105
12,100058279,Kent Ave btw South 6th St. and Broadway,New York City DOT,40.711282,-73.968386,15,(UTC-05:00) US/Eastern;DST,5,NaN
13,300024007,111th St at 50th Ave,New York City DOT,40.745630,-73.852500,15,(UTC-05:00) US/Eastern;DST,5,Y2H21100728
14,300020692,Test,New York City DOT,40.707381,-73.998845,0,(UTC-05:00) US/Eastern;DST,5,NaN
15,100009424,2nd Avenue - 26th St S,New York City DOT,40.739710,-73.979540,15,(UTC-05:00) US/Eastern;DST,5,NaN
16,300020904,Comprehensive Brooklyn Bridge Counter,New York City DOT,40.711644,-74.004109,15,(UTC-05:00) US/Eastern;DST,5,NaN
17,100039064,Forsyth Plaza,New York City DOT,40.715623,-73.994744,15,(UTC-05:00) US/Eastern;DST,5,NaN
18,100009429,Manhattan Bridge 2013 to 2018 Bike Counter,New York City DOT,40.699768,-73.985820,15,(UTC-05:00) US/Eastern;DST,5,NaN
19,100057316,8th Ave at 50th St.,New York City DOT,40.762348,-73.986120,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042942
20,100009427,Williamsburg Bridge Bike Path,New York City DOT,40.710530,-73.961450,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042936
21,100057320,Columbus Ave at 86th St.,New York City DOT,40.787700,-73.975050,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042939
22,100005020,Manhattan Bridge 2012 Test Bike Counter,New York City DOT,40.699810,-73.985890,15,(UTC-05:00) US/Eastern;DST,5,NaN
23,100057319,Amsterdam Ave at 86th St.,New York City DOT,40.787700,-73.975050,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042937
24,100051865,Manhattan Bridge 2012 to 2019 Bike Counter,New York City DOT,40.699810,-73.985890,15,(UTC-05:00) US/Eastern;DST,5,NaN
25,100010020,1st Avenue - 26th St N - Interference testing,New York City DOT,40.738830,-73.977165,15,(UTC-05:00) US/Eastern;DST,5,NaN
26,100009428,Ed Koch Queensboro Bridge Shared Path,New York City DOT,40.751010,-73.940450,15,(UTC-05:00) US/Eastern;DST,5,Y2H22042947
27,100048744,Manhattan Bridge Interference Calibration 2018...,New York City DOT,0.000000,0.000000,15,(UTC-05:00) US/Eastern;DST,5,NaN
28,100009425,Prospect Park West,New York City DOT,40.671288,-73.971382,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121588
29,100062893,Manhattan Bridge Bike Comprehensive,New York City DOT,40.715600,-73.994750,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121587
30,100047029,Manhattan Bridge Display Bike Counter,New York City DOT,40.715600,-73.994750,60,(UTC-05:00) US/Eastern;DST,5,Y2H21121587

In [69]:
new_data_2 = pd.read_csv('data/Bicycle_Counts_20231119.csv')

new_data_2

          countid         id                    date  counts  status
0        10347035  100009424  12/24/2018 03:30:00 AM       0       4
1        10347036  100009424  12/24/2018 03:45:00 AM       0       4
2        10347037  100009424  12/24/2018 04:00:00 AM       0       4
3        10347038  100009424  12/24/2018 04:15:00 AM       0       4
4        10347039  100009424  12/24/2018 04:30:00 AM       0       4
...           ...        ...                     ...     ...     ...
5096576  48028360  300027723  11/18/2023 10:45:00 PM       0       0
5096577  48028361  300027723  11/18/2023 11:00:00 PM       0       0
5096578  48028362  300027723  11/18/2023 11:15:00 PM       0       0
5096579  48028363  300027723  11/18/2023 11:30:00 PM       0       0
5096580  48028364  300027723  11/18/2023 11:45:00 PM       0       0

[5096581 rows x 5 columns]

In [70]:
new_data_2 = new_data_2[4800000: 5000000]
new_data_2

          countid         id                    date  counts  status
4800000  21167559  100010022  06/11/2023 02:00:00 PM       0       0
4800001  21167560  100010022  06/11/2023 02:15:00 PM       2       0
4800002  21167561  100010022  06/11/2023 02:30:00 PM       1       0
4800003  21167562  100010022  06/11/2023 02:45:00 PM       0       0
4800004  21167563  100010022  06/11/2023 03:00:00 PM       3       0
...           ...        ...                     ...     ...     ...
4999995  39187894  100010017  09/27/2023 02:00:00 AM       0       0
4999996  39187895  100010017  09/27/2023 02:15:00 AM       2       0
4999997  39187896  100010017  09/27/2023 02:30:00 AM       0       0
4999998  39187897  100010017  09/27/2023 02:45:00 AM       1       0
4999999  39187898  100010017  09/27/2023 03:00:00 AM       0       0

[200000 rows x 5 columns]

In [71]:
# new_data_2['date'] = pd.to_datetime(new_data_2['date'])
# new_data_2['date']

In [75]:
filtered_df = new_data_2.loc[(pd.to_datetime(new_data_2['date']) >= '2023-08-01')
                     & (pd.to_datetime(new_data_2['date']) < '2023-09-01')]

filtered_df

          countid         id                    date  counts  status
4894002  29678222  100009425  08/01/2023 12:00:00 AM      22       0
4894003  29678223  100009425  08/01/2023 12:15:00 AM      11       0
4894004  29678224  100009425  08/01/2023 12:30:00 AM       9       0
4894005  29678225  100009425  08/01/2023 12:45:00 AM       8       0
4894006  29678226  100009425  08/01/2023 01:00:00 AM       8       0
...           ...        ...                     ...     ...     ...
4958710  35517176  100010019  08/31/2023 10:45:00 PM      26       0
4958711  35517177  100010019  08/31/2023 11:00:00 PM      27       0
4958712  35517178  100010019  08/31/2023 11:15:00 PM      20       0
4958713  35517179  100010019  08/31/2023 11:30:00 PM      16       0
4958714  35517180  100010019  08/31/2023 11:45:00 PM      20       0

[58994 rows x 5 columns]

In [82]:
# result = pd.concat([new_data, filtered_df], axis=1, join="inner")

# result
counts = new_data.merge(filtered_df, left_on='id', right_on='id')

counts.to_csv("data/counts.csv", sep='\t', encoding='utf-8')