In [1]:
# reading in our data, looks like we only have 112K trips this month yeah that seems to be true
import pandas as pd

data = pd.read_csv('202308-citibike-tripdata.csv')

data.head()

data.shape

C:\Users\micha\AppData\Local\Temp\ipykernel_14480\488091542.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('202308-citibike-tripdata.csv')

(4093169, 13)

In [2]:
# doing a bunch of work just to get stations though goes pretty quickly 

start_stations = data[['start_station_name', 'start_station_id','start_lat','start_lng']].copy()
start_stations = start_stations.rename(columns={"start_station_name": "station_name", "start_station_id": "station_id","start_lat": 'lat', "start_lng": "lng"})
end_stations = data[['end_station_name','end_station_id', 'end_lat','end_lng']].copy()
end_stations = end_stations.rename(columns={"end_station_name": "station_name", "end_station_id": "station_id","end_lat": 'lat', "end_lng": "lng"})


station_names =  pd.concat([start_stations, end_stations])
station_names

,station_name,station_id,lat,lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
4,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
...,...,...,...,...
4093164,Gramercy Park N & Gramercy Park E,6013.12,40.737950,-73.985090
4093165,W 47 St & 10 Ave,6824.07,40.762699,-73.993012
4093166,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428
4093167,Lenox Ave & W 133 St,7790.04,40.812960,-73.941878
4093168,E 13 St & Avenue A,5779.09,40.729667,-73.980680

In [3]:
locations = data[['start_station_name', 'start_station_id', 'start_lat','start_lng']].copy()

locations.shape

(4093169, 4)

In [4]:
locations = locations.drop_duplicates('start_station_id')

print(locations.shape)

locations.head()

(3872, 4)

,start_station_name,start_station_id,start_lat,start_lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
6,E Houston St & Columbia St,5436.11,40.719786,-73.978716

In [24]:
station_names = station_names.drop_duplicates('station_id')

print(station_names.shape)

salary_nan_count = station_names['station_id'].isna().sum()

print(salary_nan_count)


station_names

(1997, 4)
1

,station_name,station_id,lat,lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
6,E Houston St & Columbia St,5436.11,40.719786,-73.978716
...,...,...,...,...
3362744,Harborside,JC104,40.719252,-74.034234
3460054,Columbus Drive,JC014,40.718355,-74.038914
3615832,Newport Pkwy,JC008,40.728745,-74.032108
3761317,Willow Ave & 12 St,HB505,40.751867,-74.030377
3790829,Montgomery St,JC099,40.719420,-74.050990

In [6]:
station_names.to_csv("stations.csv", sep='\t', encoding='utf-8')

In [7]:
# just getting ride of some rows that did not seem important
subset = data.iloc[:,2:12]

# print(list(data.columns[2:3]) + list(data.columns[4:12]))

# list(data.columns[1]) + list(df.columns[4:])
subset.head()

# so really I should make a table that has station id, name, lat and long, then i can fix lost information and remove a bunch
# of columns

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461
1,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360
2,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598
3,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831
4,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461

In [8]:
# ha it's along the water in new jersy no wondre it's so popular at midnight 
data.loc[data['start_station_id'] == 'HB103']

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
3702216,6D64386D86D8CEA9,classic_bike,2023-08-18 22:27:28,2023-08-18 23:17:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bergen Ave & Sip Ave,JC109,40.728795,-74.011989,40.731009,-74.064437,member
3977596,F78ED6338EB2EAA8,classic_bike,2023-08-12 14:51:54,2023-08-12 14:59:26,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,14 St Ferry - 14 St & Shipyard Ln,HB202,40.697710,-73.969835,40.752961,-74.024353,casual

In [9]:
# calculating the duarion of the trip... what about trip to the same station??

import numpy as np
import datetime as dt

pd.to_datetime(data.started_at)

# subset.dtypes
subset['trip_duration'] = (pd.to_datetime(data.ended_at)- pd.to_datetime(data.started_at))

subset.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,trip_duration
0,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,0 days 00:35:37
1,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,0 days 00:01:21
2,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,0 days 00:06:15
3,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,0 days 00:30:13
4,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,0 days 00:47:18

In [10]:
# so like 5 k that seem like they are meaningless or bad bikes,
# I guess this could be it's own information like how many misfires do you get a month 

# subset.loc[subset['trip_duration'] < pd.Timedelta("0 days 00:02:00")]
# subset.sort_values(by=['trip_duration'])

# 120 with no end information and seemingly long trips so possibly stolen or bad stations 
# same here possible stolen bikes is it more concentrated in certain areas 
subset.loc[subset['end_lat'].isna()]

# subset.loc[subset['start_lat'].isna()]
# should be looking for more bad data

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,trip_duration
779,2023-08-16 09:13:21,2023-08-17 10:13:13,W 47 St & 9 Ave,6786.02,NaN,NaN,40.761530,-73.990070,NaN,NaN,1 days 00:59:52
789,2023-08-16 00:45:34,2023-08-17 01:45:28,E 26 St & 3 Ave,6089.11,NaN,NaN,40.740693,-73.981606,NaN,NaN,1 days 00:59:54
791,2023-08-26 21:51:03,2023-08-27 22:50:57,5 Ave & 3 St,3987.06,NaN,NaN,40.672815,-73.983524,NaN,NaN,1 days 00:59:54
805,2023-08-28 16:37:12,2023-08-29 17:37:04,W 41 St & 8 Ave,6602.03,NaN,NaN,40.756405,-73.990026,NaN,NaN,1 days 00:59:52
812,2023-08-20 10:38:43,2023-08-21 11:38:38,Spring St & Hudson St,5653.12,NaN,NaN,40.725840,-74.007653,NaN,NaN,1 days 00:59:55
...,...,...,...,...,...,...,...,...,...,...,...
2643721,2023-08-20 19:15:36,2023-08-21 20:15:31,W 25 St & 9 Ave,6339.06,NaN,NaN,40.747833,-74.000572,NaN,NaN,1 days 00:59:55
2643727,2023-08-03 00:48:46,2023-08-04 01:48:40,Malcolm X Blvd & DeKalb Ave,4648.03,NaN,NaN,40.693800,-73.931140,NaN,NaN,1 days 00:59:54
2643740,2023-08-19 10:20:17,2023-08-20 11:20:12,Lenox Ave & W 126 St,7720.03,NaN,NaN,40.808442,-73.945209,NaN,NaN,1 days 00:59:55
2643752,2023-08-23 19:28:10,2023-08-24 20:28:05,Bergen St & Kingston Ave,4089.01,NaN,NaN,40.675600,-73.941500,NaN,NaN,1 days 00:59:55
2643753,2023-08-23 16:03:26,2023-08-24 17:03:21,Murray St & Greenwich St,5288.12,NaN,NaN,40.714852,-74.011223,NaN,NaN,1 days 00:59:55

In [11]:
# spliting hour and date not sure if it is nec
subset['start_date'] = pd.to_datetime(data.started_at).dt.date
subset['start_hour'] = pd.to_datetime(data.started_at).dt.hour

# subset['start_at'] = pd.to_datetime(data.started_at)

# subset.assign(Date=pd.to_datetime(subset.started_at).dt.round('H'))
# df['date'] = df['full_date'].dt.date
# df['time'] = df['full_date'].dt.time

subset.head()
# subset.dtypes

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,trip_duration,start_date,start_hour
0,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,0 days 00:35:37,2023-08-29,21
1,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,0 days 00:01:21,2023-08-06,19
2,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,0 days 00:06:15,2023-08-02,20
3,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,0 days 00:30:13,2023-08-14,13
4,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,0 days 00:47:18,2023-08-03,13

In [12]:
# just getting rid of more unwanted data


subset = subset.iloc[:,3:]

In [13]:
subset.head()

,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,trip_duration,start_date,start_hour
0,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,0 days 00:35:37,2023-08-29,21
1,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,0 days 00:01:21,2023-08-06,19
2,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,0 days 00:06:15,2023-08-02,20
3,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,0 days 00:30:13,2023-08-14,13
4,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,0 days 00:47:18,2023-08-03,13

In [19]:
# here I am starting to aggreate my data this does it by day and hour 
# df2 = subset.groupby(['start_station_id','end_station_id', 'start_date', 'start_hour'])['end_station_name'].count().reset_index() 

# so you can get average trip duration 
# df2 = subset.groupby(['start_station_id','end_station_id', 'start_date', 'start_hour']).agg({'end_station_name':'size', 'trip_duration':'mean'}).reset_index() 

df2 = subset.groupby(['start_station_id','end_station_id']).agg({'end_station_name':'size', 'trip_duration':'mean'}).reset_index() 


print(df2.shape)

# df2.sort_values(by=['end_station_name'])

# when we do it by day and hour we really only drop 20k of which 5k maybe bad bikes 

# so just 3K stations that have more than one trip to same station when looked at by 
# df2.loc[df2['end_station_name'] > 2].sort_values(by=['end_station_name'])

greater_5 = df2.loc[(df2['end_station_name'] > 2)&(df2['trip_duration'] > pd.Timedelta("0 days 00:05:00"))].sort_values(by=['end_station_name'])


# (df['channel'] == 'sale')&(df['type']=='A')
# maybe I should start with the whole month, then work to a week or somethiing 

greater_5.shape

(800598, 4)

(290957, 4)

In [15]:

# here i was just checking 

# rslt_df = subset[(subset['start_station_id']=='JC003') & (subset['end_station_id']  == 'JC115')  & (subset['start_hour']  == 11)] 

# #  np.where((data['start_station_id']=='JC003') & (data['end_station_id']  == 'JC115')) & (dataFrame['JOB'].str.startswith('D')))

# rslt_df

In [32]:
# salary_nan_count = greater_5['start_station_id'].isna().sum()

# ok will probably just redo this without pairing down my data 

salary_nan_count = greater_5['end_station_id'].isna().sum()

print(salary_nan_count)

greater_5_1 = pd.merge(greater_5, station_names, left_on='start_station_id', right_on='station_id')

greater_5_1.shape
greater_5_2 =  pd.merge(greater_5_1, station_names, left_on='end_station_id', right_on='station_id')



# greater_5_2.to_csv("rides.csv", sep='\t', encoding='utf-8')

greater_5_2.head()

greater_5_2 = greater_5_2.loc[(greater_5_2['end_station_name'] > 100)]

greater_5_2.to_csv("rides.csv", sep='\t', encoding='utf-8')

greater_5_2

0

,start_station_id,end_station_id,end_station_name,trip_duration,station_name_x,station_id_x,lat_x,lng_x,station_name_y,station_id_y,lat_y,lng_y
795,5021.05,5021.05,119,0 days 00:12:34.453781512,Kent Ave & Division Ave,5021.05,40.706564,-73.968319,Kent Ave & Division Ave,5021.05,40.706564,-73.968319
1030,5270.05,5270.05,180,0 days 00:06:27.638888888,Pike St & E Broadway,5270.05,40.714067,-73.992939,Pike St & E Broadway,5270.05,40.714067,-73.992939
1411,5382.07,5335.07,124,0 days 00:08:59.612903225,Forsyth St & Grand St,5382.07,40.717798,-73.993161,Grand St & Samuel Dickstein Plaza,5335.07,40.715016,-73.983930
1529,5294.04,5335.07,195,0 days 00:07:10.415384615,Henry St & Grand St,5294.04,40.714211,-73.981095,Grand St & Samuel Dickstein Plaza,5335.07,40.715016,-73.983930
1530,5303.06,5335.07,145,0 days 00:05:37.600000,Clinton St & Grand St,5303.06,40.715654,-73.987029,Grand St & Samuel Dickstein Plaza,5335.07,40.715016,-73.983930
...,...,...,...,...,...,...,...,...,...,...,...,...
155370,8152.03,8152.03,149,0 days 00:10:06.013422818,Fulton Ave & St. Paul's Pl,8152.03,40.835395,-73.901614,Fulton Ave & St. Paul's Pl,8152.03,40.835395,-73.901614
155446,8619.02,8619.02,116,0 days 00:14:36.112068965,Jerome Ave & W 193 St,8619.02,40.866492,-73.897957,Jerome Ave & W 193 St,8619.02,40.866492,-73.897957
155698,8811.01,8811.01,147,0 days 00:16:22.843537414,Paul Ave & Mosholu Pkwy,8811.01,40.879796,-73.885950,Paul Ave & Mosholu Pkwy,8811.01,40.879796,-73.885950
155740,8766.03,8766.03,173,0 days 00:14:39.618497109,Grand Concourse & E 205 St,8766.03,40.875472,-73.886370,Grand Concourse & E 205 St,8766.03,40.875472,-73.886370
156320,4440.02,4440.02,1039,0 days 00:41:15.365736284,Yankee Ferry Terminal,4440.02,40.687066,-74.016756,Yankee Ferry Terminal,4440.02,40.687066,-74.016756