In [1]:
# reading in our data, looks like we only have 112K trips this month yeah that seems to be true
import pandas as pd
import numpy as np
import datetime as dt

data = pd.read_csv('data/202308-citibike-tripdata.csv')

data.head()

data.shape

C:\Users\mike\AppData\Local\Temp\ipykernel_3448\1965285217.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/202308-citibike-tripdata.csv')

(4093169, 13)

In [2]:
# search them otherwise.. probably not hard but I don't know how to do it 
day = pd.to_datetime(data.started_at).dt.day
hour = pd.to_datetime(data.started_at).dt.hour
day_week = pd.to_datetime(data.started_at).dt.dayofweek

print(day)
print(hour)
print(day_week)

0          29
1           6
2           2
3          14
4           3
           ..
4093164     1
4093165    27
4093166    24
4093167     6
4093168    29
Name: started_at, Length: 4093169, dtype: int64
0          21
1          19
2          20
3          13
4          13
           ..
4093164    17
4093165    17
4093166     8
4093167    13
4093168    17
Name: started_at, Length: 4093169, dtype: int64
0          1
1          6
2          2
3          0
4          3
          ..
4093164    1
4093165    6
4093166    3
4093167    6
4093168    1
Name: started_at, Length: 4093169, dtype: int64

In [3]:
# adding the new columns back
data.insert(2, "day", day, True)
data.insert(3, "hour", hour, True)
data.insert(3, "day_of_week", day_week, True)

In [4]:
data

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,C5E94016E7939757,classic_bike,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,member
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,member
2,341D3CE4743A92EC,classic_bike,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,member
3,21C763DECA96FD02,classic_bike,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,member
4,A8533C28598A6AB8,classic_bike,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093164,1DF107B2D3236068,classic_bike,1,1,17,2023-08-01 17:08:26,2023-08-01 17:17:22,W 17 St & 8 Ave,6148.02,Gramercy Park N & Gramercy Park E,6013.12,40.741776,-74.001497,40.737950,-73.985090,member
4093165,168B289864D8DE47,classic_bike,27,6,17,2023-08-27 17:06:25,2023-08-27 17:23:47,W 17 St & 8 Ave,6148.02,W 47 St & 10 Ave,6824.07,40.741776,-74.001497,40.762699,-73.993012,member
4093166,18FC63FE8411C4B1,classic_bike,24,3,8,2023-08-24 08:22:50,2023-08-24 08:32:43,Bergen St & Vanderbilt Ave,4157.10,Kingston Ave & Herkimer St,4205.06,40.679461,-73.967905,40.678907,-73.941428,member
4093167,8806D0CDD899C339,classic_bike,6,6,13,2023-08-06 13:33:22,2023-08-06 13:38:43,Adam Clayton Powell Blvd & W 123 St,7704.04,Lenox Ave & W 133 St,7790.04,40.807832,-73.949373,40.812960,-73.941878,member
4093168,FEDA43F66995347C,classic_bike,29,1,17,2023-08-29 17:02:02,2023-08-29 17:04:51,E 7 St & Avenue A,5626.07,E 13 St & Avenue A,5779.09,40.726218,-73.983799,40.729667,-73.980680,member

In [5]:
# ohh yeah durations would be useful!

trip_duration = (pd.to_datetime(data.ended_at) - pd.to_datetime(data.started_at))
print(trip_duration)

# I guess i did not need this 
change_in_lng = data['end_lng'] - data['start_lng']
change_in_lat = data['end_lat'] - data['start_lat']
print(change_in_lng)
print(change_in_lat)

0         0 days 00:35:37
1         0 days 00:01:21
2         0 days 00:06:15
3         0 days 00:30:13
4         0 days 00:47:18
                ...
4093164   0 days 00:08:56
4093165   0 days 00:17:22
4093166   0 days 00:09:53
4093167   0 days 00:05:21
4093168   0 days 00:02:49
Length: 4093169, dtype: timedelta64[ns]
0          0.022340
1          0.000583
2          0.007712
3         -0.031218
4          0.037849
             ...
4093164    0.016407
4093165    0.008485
4093166    0.026478
4093167    0.007495
4093168    0.003119
Length: 4093169, dtype: float64
0          0.065784
1         -0.003056
2         -0.005737
3         -0.054316
4          0.077913
             ...
4093164   -0.003826
4093165    0.020923
4093166   -0.000554
4093167    0.005128
4093168    0.003449
Length: 4093169, dtype: float64

In [6]:
# adding these as columns back to data

data.insert(15, "change_in_lat", change_in_lat, True)
data.insert(16, "change_in_lng", change_in_lng, True)
data.insert(17, "trip_duration", trip_duration, True)

data

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
0,C5E94016E7939757,classic_bike,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,0.065784,0.022340,0 days 00:35:37,member
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,-0.003056,0.000583,0 days 00:01:21,member
2,341D3CE4743A92EC,classic_bike,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,-0.005737,0.007712,0 days 00:06:15,member
3,21C763DECA96FD02,classic_bike,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,-0.054316,-0.031218,0 days 00:30:13,member
4,A8533C28598A6AB8,classic_bike,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,0.077913,0.037849,0 days 00:47:18,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093164,1DF107B2D3236068,classic_bike,1,1,17,2023-08-01 17:08:26,2023-08-01 17:17:22,W 17 St & 8 Ave,6148.02,Gramercy Park N & Gramercy Park E,6013.12,40.741776,-74.001497,40.737950,-73.985090,-0.003826,0.016407,0 days 00:08:56,member
4093165,168B289864D8DE47,classic_bike,27,6,17,2023-08-27 17:06:25,2023-08-27 17:23:47,W 17 St & 8 Ave,6148.02,W 47 St & 10 Ave,6824.07,40.741776,-74.001497,40.762699,-73.993012,0.020923,0.008485,0 days 00:17:22,member
4093166,18FC63FE8411C4B1,classic_bike,24,3,8,2023-08-24 08:22:50,2023-08-24 08:32:43,Bergen St & Vanderbilt Ave,4157.10,Kingston Ave & Herkimer St,4205.06,40.679461,-73.967905,40.678907,-73.941428,-0.000554,0.026478,0 days 00:09:53,member
4093167,8806D0CDD899C339,classic_bike,6,6,13,2023-08-06 13:33:22,2023-08-06 13:38:43,Adam Clayton Powell Blvd & W 123 St,7704.04,Lenox Ave & W 133 St,7790.04,40.807832,-73.949373,40.812960,-73.941878,0.005128,0.007495,0 days 00:05:21,member
4093168,FEDA43F66995347C,classic_bike,29,1,17,2023-08-29 17:02:02,2023-08-29 17:04:51,E 7 St & Avenue A,5626.07,E 13 St & Avenue A,5779.09,40.726218,-73.983799,40.729667,-73.980680,0.003449,0.003119,0 days 00:02:49,member

In [7]:
# 260K that are less than 2 minutes
less_2_min = data.loc[data['trip_duration'] < pd.Timedelta("0 days 00:02:00")]

less_2_min                      
                  
# greater_5 = df2.loc[(df2['end_station_name'] > 2)&(df2['trip_duration'] > pd.Timedelta("0 days 00:05:00"))].sort_values(by=['end_station_name'])

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,-0.003056,0.000583,0 days 00:01:21,member
35,5FD46C7A01FEEBCB,classic_bike,6,6,20,2023-08-06 20:23:38,2023-08-06 20:24:47,Suydam St & Broadway,4689.03,Malcolm X Blvd & DeKalb Ave,4648.03,40.695440,-73.932230,40.693800,-73.931140,-0.001640,0.001090,0 days 00:01:09,member
115,8602C136F15FB9C0,classic_bike,6,6,12,2023-08-06 12:27:09,2023-08-06 12:29:01,E 35 St & Madison Ave,6398.08,E 43 St & Madison Ave,6551.11,40.747932,-73.982847,40.753547,-73.978966,0.005615,0.003881,0 days 00:01:52,member
127,D4B8D939683B7694,electric_bike,15,1,18,2023-08-15 18:35:29,2023-08-15 18:36:38,Greene St & Prince St,5602.06,W Broadway & Spring St,5569.06,40.725117,-73.999305,40.724947,-74.001659,-0.000171,-0.002354,0 days 00:01:09,member
289,2413500F2F4F260B,classic_bike,31,3,20,2023-08-31 20:14:02,2023-08-31 20:15:40,E 48 St & 5 Ave,6626.01,W 48 St & Rockefeller Plaza,6626.11,40.757460,-73.977439,40.757769,-73.979294,0.000309,-0.001856,0 days 00:01:38,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093086,A8B8F3B168B53160,classic_bike,24,3,4,2023-08-24 04:35:00,2023-08-24 04:36:37,Buchanan Pl & Grand Ave,8535.01,E 182 St & Morris Ave,8494.01,40.858557,-73.906583,40.856708,-73.902653,-0.001849,0.003930,0 days 00:01:37,member
4093094,7AD6535D8D727B27,classic_bike,1,1,10,2023-08-01 10:50:22,2023-08-01 10:52:05,Lenox Ave & W 130 St,7753.13,Lenox Ave & W 133 St,7790.04,40.810792,-73.943068,40.812960,-73.941878,0.002168,0.001190,0 days 00:01:43,member
4093116,D68C06EEA0272836,classic_bike,3,3,9,2023-08-03 09:01:13,2023-08-03 09:02:49,Lenox Ave & W 130 St,7753.13,Lenox Ave & W 133 St,7790.04,40.810792,-73.943068,40.812960,-73.941878,0.002168,0.001190,0 days 00:01:36,member
4093141,A6D65F75D9734974,classic_bike,12,5,9,2023-08-12 09:41:16,2023-08-12 09:43:06,Greenpoint Ave & Manhattan Ave,5785.05,Milton St & Franklin St,5752.07,40.730257,-73.954050,40.729060,-73.957790,-0.001197,-0.003740,0 days 00:01:50,member
4093149,84591E353BB71528,classic_bike,4,4,1,2023-08-04 01:05:53,2023-08-04 01:07:49,Greenpoint Ave & Manhattan Ave,5785.05,Milton St & Franklin St,5752.07,40.730260,-73.953940,40.729060,-73.957790,-0.001200,-0.003850,0 days 00:01:56,member

In [8]:
# 130 k rides less then 2 minutes start and stop at the same station
less_2_min_same_satation = less_2_min.loc[less_2_min['start_station_name'] == less_2_min['end_station_name']]

# some quick stats
# almost 2 min, was someone really riding 
print(less_2_min_same_satation['trip_duration'].max())
print(less_2_min_same_satation['trip_duration'].mean())
# not sure what to make of this 
print(less_2_min_same_satation['trip_duration'].min())

0 days 00:01:59
0 days 00:00:32.266791216
-1 days +23:36:57

In [9]:
# so I could get lots  of information from this I persume 
print(less_2_min_same_satation['start_station_name'].value_counts()) 

# spitting it out
less_2_min_same_satation.to_csv("data/less_2_min_same_satation.csv", sep='\t', encoding='utf-8')

11 Ave & W 41 St                     625
West St & Chambers St                559
Broadway & W 58 St                   494
Grand Concourse & E 164 St           460
Grand Army Plaza & Central Park S    447
                                    ...
60 St & 37 Ave                         1
Ditmars Blvd & 48 St                   1
99 St & Astoria Blvd                   1
31 Ave & 86 St                         1
W 211 St & 10 Ave                      1
Name: start_station_name, Length: 1909, dtype: int64

In [10]:
# grouping everything so i can det the aggreates by station and type
test = less_2_min_same_satation.groupby(['start_station_name', 'day', 'rideable_type']).agg({'start_lat': 'mean', 'start_lng': 'mean', 'start_station_id': "count"}).reset_index()
# df.groupby(['Animal']).mean()
# test = less_2_min_same_satation.groupby(['start_station_name', 'day', 'rideable_type']).mean(['start_lat'])
# df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
test

,start_station_name,day,rideable_type,start_lat,start_lng,start_station_id
0,1 Ave & E 110 St,1,classic_bike,40.792332,-73.938289,5
1,1 Ave & E 110 St,1,electric_bike,40.792327,-73.938300,2
2,1 Ave & E 110 St,2,classic_bike,40.792314,-73.938271,3
3,1 Ave & E 110 St,2,electric_bike,40.792327,-73.938300,1
4,1 Ave & E 110 St,3,classic_bike,40.792366,-73.938212,27
...,...,...,...,...,...,...
45455,Yankee Ferry Terminal,25,classic_bike,40.687066,-74.016756,1
45456,Yankee Ferry Terminal,26,classic_bike,40.687066,-74.016756,3
45457,Yankee Ferry Terminal,27,classic_bike,40.687066,-74.016756,1
45458,Yankee Ferry Terminal,28,classic_bike,40.687200,-74.016544,1
45459,Yankee Ferry Terminal,30,classic_bike,40.687142,-74.016531,1

In [11]:
test_2 = less_2_min_same_satation.groupby(['start_station_name', 'day']).agg({'start_lat': 'mean', 'start_lng': 'mean', 'start_station_id': "count"}).reset_index()
# df.groupby(['Animal']).mean()
# test = less_2_min_same_satation.groupby(['start_station_name', 'day', 'rideable_type']).mean(['start_lat'])
# df.groupby('A').agg({'B': ['min', 'max'], 'C': 'sum'})
test_2

          start_station_name  day  start_lat  start_lng  start_station_id
0           1 Ave & E 110 St    1  40.792331 -73.938292                 7
1           1 Ave & E 110 St    2  40.792317 -73.938278                 4
2           1 Ave & E 110 St    3  40.792365 -73.938216                28
3           1 Ave & E 110 St    4  40.792327 -73.938300                 2
4           1 Ave & E 110 St    5  40.792576 -73.938500                 2
...                      ...  ...        ...        ...               ...
35071  Yankee Ferry Terminal   25  40.687066 -74.016756                 1
35072  Yankee Ferry Terminal   26  40.687066 -74.016756                 3
35073  Yankee Ferry Terminal   27  40.687066 -74.016756                 1
35074  Yankee Ferry Terminal   28  40.687200 -74.016544                 1
35075  Yankee Ferry Terminal   30  40.687142 -74.016531                 1

[35076 rows x 5 columns]

In [12]:
# still doing it 
test_2.insert(loc = 2, column = 'rideable_type', value = "All")

test_2

,start_station_name,day,rideable_type,start_lat,start_lng,start_station_id
0,1 Ave & E 110 St,1,All,40.792331,-73.938292,7
1,1 Ave & E 110 St,2,All,40.792317,-73.938278,4
2,1 Ave & E 110 St,3,All,40.792365,-73.938216,28
3,1 Ave & E 110 St,4,All,40.792327,-73.938300,2
4,1 Ave & E 110 St,5,All,40.792576,-73.938500,2
...,...,...,...,...,...,...
35071,Yankee Ferry Terminal,25,All,40.687066,-74.016756,1
35072,Yankee Ferry Terminal,26,All,40.687066,-74.016756,3
35073,Yankee Ferry Terminal,27,All,40.687066,-74.016756,1
35074,Yankee Ferry Terminal,28,All,40.687200,-74.016544,1
35075,Yankee Ferry Terminal,30,All,40.687142,-74.016531,1

In [13]:
test_3 = less_2_min_same_satation.groupby(['start_station_name', 'rideable_type']).agg({'start_lat': 'mean', 'start_lng': 'mean', 'start_station_id': "count"}).reset_index()

test_3

,start_station_name,rideable_type,start_lat,start_lng,start_station_id
0,1 Ave & E 110 St,classic_bike,40.792339,-73.938204,91
1,1 Ave & E 110 St,electric_bike,40.792327,-73.938300,21
2,1 Ave & E 16 St,classic_bike,40.732203,-73.981805,140
3,1 Ave & E 16 St,electric_bike,40.732219,-73.981656,27
4,1 Ave & E 18 St,classic_bike,40.733746,-73.980573,127
...,...,...,...,...,...
3587,Wythe Ave & Metropolitan Ave,classic_bike,40.716924,-73.963191,91
3588,Wythe Ave & Metropolitan Ave,electric_bike,40.716887,-73.963198,37
3589,Wythe Ave & N 13 St,classic_bike,40.722706,-73.957075,41
3590,Wythe Ave & N 13 St,electric_bike,40.722767,-73.957021,23
3591,Yankee Ferry Terminal,classic_bike,40.687071,-74.016741,50

In [14]:
test_3.insert(loc = 1, column = 'day', value = 0)

test_3

,start_station_name,day,rideable_type,start_lat,start_lng,start_station_id
0,1 Ave & E 110 St,0,classic_bike,40.792339,-73.938204,91
1,1 Ave & E 110 St,0,electric_bike,40.792327,-73.938300,21
2,1 Ave & E 16 St,0,classic_bike,40.732203,-73.981805,140
3,1 Ave & E 16 St,0,electric_bike,40.732219,-73.981656,27
4,1 Ave & E 18 St,0,classic_bike,40.733746,-73.980573,127
...,...,...,...,...,...,...
3587,Wythe Ave & Metropolitan Ave,0,classic_bike,40.716924,-73.963191,91
3588,Wythe Ave & Metropolitan Ave,0,electric_bike,40.716887,-73.963198,37
3589,Wythe Ave & N 13 St,0,classic_bike,40.722706,-73.957075,41
3590,Wythe Ave & N 13 St,0,electric_bike,40.722767,-73.957021,23
3591,Yankee Ferry Terminal,0,classic_bike,40.687071,-74.016741,50

In [15]:
test_4 = less_2_min_same_satation.groupby('start_station_name').agg({'start_lat': 'mean', 'start_lng': 'mean', 'start_station_id': "count"}).reset_index()

test_4

                start_station_name  start_lat  start_lng  start_station_id
0                 1 Ave & E 110 St  40.792337 -73.938222               112
1                  1 Ave & E 16 St  40.732206 -73.981781               167
2                  1 Ave & E 18 St  40.733762 -73.980566               169
3                  1 Ave & E 30 St  40.741018 -73.975185               136
4                  1 Ave & E 39 St  40.746908 -73.971090               242
...                            ...        ...        ...               ...
1904       Wyckoff Ave & Gates Ave  40.699854 -73.911691                63
1905            Wyckoff St & 3 Ave  40.682776 -73.982611                21
1906  Wythe Ave & Metropolitan Ave  40.716914 -73.963193               128
1907           Wythe Ave & N 13 St  40.722728 -73.957056                64
1908         Yankee Ferry Terminal  40.687071 -74.016741                50

[1909 rows x 4 columns]

In [16]:
test_4.insert(loc = 1, column = 'day',  value = 0)

test_4.insert(loc = 2, column = 'rideable_type',  value = 'All')
test_4

,start_station_name,day,rideable_type,start_lat,start_lng,start_station_id
0,1 Ave & E 110 St,0,All,40.792337,-73.938222,112
1,1 Ave & E 16 St,0,All,40.732206,-73.981781,167
2,1 Ave & E 18 St,0,All,40.733762,-73.980566,169
3,1 Ave & E 30 St,0,All,40.741018,-73.975185,136
4,1 Ave & E 39 St,0,All,40.746908,-73.971090,242
...,...,...,...,...,...,...
1904,Wyckoff Ave & Gates Ave,0,All,40.699854,-73.911691,63
1905,Wyckoff St & 3 Ave,0,All,40.682776,-73.982611,21
1906,Wythe Ave & Metropolitan Ave,0,All,40.716914,-73.963193,128
1907,Wythe Ave & N 13 St,0,All,40.722728,-73.957056,64
1908,Yankee Ferry Terminal,0,All,40.687071,-74.016741,50

In [17]:
# putting them all back together
test = pd.concat([test, test_2])
test = pd.concat([test, test_3])
test = pd.concat([test, test_4])
test

,start_station_name,day,rideable_type,start_lat,start_lng,start_station_id
0,1 Ave & E 110 St,1,classic_bike,40.792332,-73.938289,5
1,1 Ave & E 110 St,1,electric_bike,40.792327,-73.938300,2
2,1 Ave & E 110 St,2,classic_bike,40.792314,-73.938271,3
3,1 Ave & E 110 St,2,electric_bike,40.792327,-73.938300,1
4,1 Ave & E 110 St,3,classic_bike,40.792366,-73.938212,27
...,...,...,...,...,...,...
1904,Wyckoff Ave & Gates Ave,0,All,40.699854,-73.911691,63
1905,Wyckoff St & 3 Ave,0,All,40.682776,-73.982611,21
1906,Wythe Ave & Metropolitan Ave,0,All,40.716914,-73.963193,128
1907,Wythe Ave & N 13 St,0,All,40.722728,-73.957056,64
1908,Yankee Ferry Terminal,0,All,40.687071,-74.016741,50

In [18]:
test.to_csv("data/test.csv", sep='\t', encoding='utf-8')

In [19]:
# so this is a ton of data and I need to trim it down, this is for the animated 
# map
# first day midnight to 4
one_day = data.loc[(data['day'] == 1) & (data['hour'] < 4)]

In [20]:
# Ok so this I can work with 
one_day

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:46:09,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.847798,-73.901883,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 00:42:52,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.754610,-73.991770,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:43:01,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.707678,-73.940162,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:08:04,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.768431,-73.988824,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:09:35,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.729039,-73.994046,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:00:23,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.708084,-73.911008,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:01,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755103,-73.974987,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:35:08,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.705661,-73.913107,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:13:00,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.699220,-73.897950,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:23:35,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [21]:
# dropping rides that never ended
one_day = one_day[one_day['end_lat'].notna()]
one_day.shape

(2871, 19)

In [22]:
# take the rides and chop them up into 50 rows

one_day_1 = one_day.copy()

for i in range(1,51):

    one_day_2 = one_day.copy()

    one_day_2['started_at'] = pd.to_datetime(one_day_2['started_at']) + (i * one_day_2['trip_duration'])/50

    one_day_2['start_lat'] = one_day_2['start_lat'] + (i * one_day_2['change_in_lat'])/50
    
    one_day_2['start_lng'] = one_day_2['start_lng'] + (i * one_day_2['change_in_lng'])/50

    one_day_1 = pd.concat([one_day_1, one_day_2])

one_day_1

# one_day_2['trip_duration']/10

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
209,93FD3D40EE65143E,classic_bike,1,1,1,2023-08-01 01:46:09,2023-08-01 01:54:54,E Tremont Ave & E 176 St,8356.02,E 169 St & Webster Ave,8122.04,40.847798,-73.901883,40.834015,-73.908863,-0.013783,-0.006980,0 days 00:08:45,casual
1428,BAA8B9C16611D698,classic_bike,1,1,0,2023-08-01 00:42:52,2023-08-01 01:00:18,8 Ave & W 38 St,6526.05,Mott St & Prince St,5561.04,40.754610,-73.991770,40.723180,-73.994800,-0.031430,-0.003030,0 days 00:17:26,member
9009,3BBF4DC9C235E98F,classic_bike,1,1,3,2023-08-01 03:43:01,2023-08-01 03:48:49,Montrose Ave & Bushwick Ave,5068.02,Hope St & Union Ave,5187.03,40.707678,-73.940162,40.711674,-73.951413,0.003996,-0.011251,0 days 00:05:48,member
9436,790D1807E66EE36A,classic_bike,1,1,2,2023-08-01 02:08:04,2023-08-01 02:23:01,W 56 St & 10 Ave,6955.01,E 77 St & 1 Ave,7020.02,40.768431,-73.988824,40.770956,-73.953562,0.002525,0.035262,0 days 00:14:57,member
11043,FC71ED215C8B932F,electric_bike,1,1,0,2023-08-01 00:09:35,2023-08-01 00:18:33,Washington Pl & Broadway,5755.01,W 12 St & Hudson St,5997.10,40.729039,-73.994046,40.737530,-74.005589,0.008491,-0.011543,0 days 00:08:58,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4086771,566ACC75CF1F5B07,classic_bike,1,1,1,2023-08-01 01:07:45,2023-08-01 01:07:45,Woodward Ave & Harman St,5074.08,Myrtle Ave & 65 St,4862.04,40.701170,-73.890400,40.701170,-73.890400,-0.006914,0.020608,0 days 00:07:22,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4088210,5E40017F305F3C5D,classic_bike,1,1,2,2023-08-01 02:40:12,2023-08-01 02:40:12,Harman St & Seneca Ave,5002.09,64 St & Woodbine St,5057.09,40.708090,-73.895490,40.708090,-73.895490,0.002429,0.017617,0 days 00:05:04,casual
4090940,6DD1542C566FC6A8,classic_bike,1,1,0,2023-08-01 00:37:35,2023-08-01 00:37:35,Forest Ave & Summerfield St,4798.02,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428,40.678907,-73.941428,-0.020313,-0.043478,0 days 00:24:35,member
4091986,60C7A2C14142C0AE,electric_bike,1,1,2,2023-08-01 02:24:22,2023-08-01 02:24:22,1 Ave & E 68 St,6822.09,1 Ave & E 68 St,6822.09,40.765005,-73.958185,40.765005,-73.958185,0.000000,0.000000,0 days 00:00:47,member

In [23]:
one_day_1 = one_day_1.sort_values(by = ['started_at', 'ride_id'], ascending = [True, False], na_position = 'first')

one_day_1.to_csv("data/second_attempt.csv", sep='\t', encoding='utf-8')

one_day_1

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
789965,BE1B5925CB64E4C1,electric_bike,1,1,0,2023-08-01 00:00:15.220000,2023-08-01 00:09:25,Suydam St & Knickerbocker Ave,4939.07,53 St & Flushing Ave,5257.01,40.702260,-73.923575,40.714350,-73.914050,0.012337,0.009719,0 days 00:09:21,casual
3021503,2530C842B0DA594D,classic_bike,1,1,0,2023-08-01 00:00:18.260000,2023-08-01 00:04:36,Lafayette St & Grand St,5422.09,Church St & Worth St,5359.13,40.720201,-73.998995,40.716885,-74.006501,-0.003383,-0.007660,0 days 00:04:23,member
520021,0D036C6FA4B343C2,classic_bike,1,1,0,2023-08-01 00:00:22.720000,2023-08-01 00:07:30,5 St & Market St,4843.01,DeKalb Ave & Hudson Ave,4513.06,40.699795,-73.974534,40.689888,-73.981013,-0.010109,-0.006612,0 days 00:07:16,member
3021503,2530C842B0DA594D,classic_bike,1,1,0,2023-08-01 00:00:23.520000,2023-08-01 00:04:36,Lafayette St & Grand St,5422.09,Church St & Worth St,5359.13,40.720133,-73.999148,40.716885,-74.006501,-0.003383,-0.007660,0 days 00:04:23,member
789965,BE1B5925CB64E4C1,electric_bike,1,1,0,2023-08-01 00:00:26.440000,2023-08-01 00:09:25,Suydam St & Knickerbocker Ave,4939.07,53 St & Flushing Ave,5257.01,40.702506,-73.923380,40.714350,-73.914050,0.012337,0.009719,0 days 00:09:21,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3265188,EA292DE576502956,classic_bike,1,1,3,2023-08-01 03:59:11,2023-08-01 04:43:43,University Ave & W Burnside Ave,8462.09,University Ave & W Burnside Ave,8462.09,40.855370,-73.910305,40.855010,-73.910751,-0.000360,-0.000446,0 days 00:44:32,member
3758365,6885D6DC83F70D63,classic_bike,1,1,3,2023-08-01 03:59:21,2023-08-01 04:03:37,Brook Ave & E 148 St,7816.14,Willis Ave & E 137 St,7726.02,40.814386,-73.915205,40.808384,-73.923604,-0.006002,-0.008399,0 days 00:04:16,casual
625976,E67913319E5EA680,classic_bike,1,1,3,2023-08-01 03:59:27,2023-08-01 04:08:40,W 27 St & 7 Ave,6247.06,W 34 St & 11 Ave,6578.01,40.746647,-73.993915,40.755942,-74.002116,0.009295,-0.008201,0 days 00:09:13,member
1018365,E9BFB246D53255D2,classic_bike,1,1,3,2023-08-01 03:59:29,2023-08-01 04:19:36,McKibbin St & Manhattan Ave,4996.08,Van Sinderen Ave & Atlantic Ave,4087.01,40.705126,-73.943986,40.676210,-73.903510,-0.028916,0.040476,0 days 00:20:07,member
333125,3E95EE236C8F1EAD,classic_bike,1,1,3,2023-08-01 03:59:57,2023-08-01 04:07:12,36 St & 4 Ave,3420.01,62 St & 4 Ave,2923.01,40.654163,-74.004246,40.639859,-74.019776,-0.014304,-0.015530,0 days 00:07:15,member

In [24]:
one_day_1.loc[(one_day_1['ride_id'] == 'F5F60429DF82C79F')]

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:09.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755179,-73.974732,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:18.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755256,-73.974478,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:27.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755332,-73.974223,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:36.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755408,-73.973969,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:45.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755485,-73.973714,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:54.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755561,-73.973460,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:03.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755638,-73.973206,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:12.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755714,-73.972951,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:21.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755790,-73.972697,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:30,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755867,-73.972442,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:38.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755943,-73.972188,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:47.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756020,-73.971933,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:27:56.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756096,-73.971679,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:05.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756173,-73.971424,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:14.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756249,-73.971170,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:23.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756325,-73.970915,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:32.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756402,-73.970661,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:41.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756478,-73.970406,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:50.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756555,-73.970152,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:28:59,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756631,-73.969897,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:07.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756708,-73.969643,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:16.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756784,-73.969388,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:25.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756860,-73.969134,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:34.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.756937,-73.968879,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:43.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757013,-73.968625,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:29:52.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757090,-73.968370,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:01.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757166,-73.968116,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:10.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757243,-73.967861,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:19.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757319,-73.967607,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:28,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757395,-73.967352,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:36.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757472,-73.967098,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:45.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757548,-73.966843,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:30:54.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757625,-73.966589,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:03.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757701,-73.966334,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:12.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757778,-73.966080,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:21.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757854,-73.965825,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:30.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.757930,-73.965571,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:39.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758007,-73.965316,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:48.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758083,-73.965062,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:31:57,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758160,-73.964807,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:05.900000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758236,-73.964553,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:14.800000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758312,-73.964298,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:23.700000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758389,-73.964044,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:32.600000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758465,-73.963789,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:41.500000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758542,-73.963535,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:50.400000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758618,-73.963280,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:32:59.300000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758695,-73.963026,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:08.200000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758771,-73.962771,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:17.100000,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758847,-73.962517,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:33:26,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.758924,-73.962262,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member
4086835,F5F60429DF82C79F,classic_bike,1,1,0,2023-08-01 00:26:01,2023-08-01 00:33:26,E 47 St & Park Ave,6584.12,E 58 St & 1 Ave (NE Corner),6682.03,40.755103,-73.974987,40.758924,-73.962262,0.003821,0.012725,0 days 00:07:25,member

In [25]:
# doing a bunch of work just to get stations though goes pretty quickly don't think I am using it but that's ok

start_stations = data[['start_station_name', 'start_station_id','start_lat','start_lng']].copy()
start_stations = start_stations.rename(columns={"start_station_name": "station_name", "start_station_id": "station_id","start_lat": 'lat', "start_lng": "lng"})
end_stations = data[['end_station_name','end_station_id', 'end_lat','end_lng']].copy()
end_stations = end_stations.rename(columns={"end_station_name": "station_name", "end_station_id": "station_id","end_lat": 'lat', "end_lng": "lng"})


station_names =  pd.concat([start_stations, end_stations])
station_names

,station_name,station_id,lat,lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
4,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
...,...,...,...,...
4093164,Gramercy Park N & Gramercy Park E,6013.12,40.737950,-73.985090
4093165,W 47 St & 10 Ave,6824.07,40.762699,-73.993012
4093166,Kingston Ave & Herkimer St,4205.06,40.678907,-73.941428
4093167,Lenox Ave & W 133 St,7790.04,40.812960,-73.941878
4093168,E 13 St & Avenue A,5779.09,40.729667,-73.980680

In [26]:
locations = data[['start_station_name', 'start_station_id', 'start_lat','start_lng']].copy()

locations.shape

(4093169, 4)

In [27]:
locations = locations.drop_duplicates('start_station_id')

print(locations.shape)

locations.head()

(3872, 4)

,start_station_name,start_station_id,start_lat,start_lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
6,E Houston St & Columbia St,5436.11,40.719786,-73.978716

In [28]:
# looks like I was cleaning up data 
station_names = station_names.drop_duplicates('station_id')

print(station_names.shape)

salary_nan_count = station_names['station_id'].isna().sum()

print(salary_nan_count)


station_names

(3914, 4)
1

,station_name,station_id,lat,lng
0,Lexington Ave & E 36 St,6313.10,40.747574,-73.978801
1,Rockaway Ave & Bainbridge St,4285.09,40.683236,-73.911943
2,W 13 St & 5 Ave,5947.04,40.735445,-73.994310
3,Central Park North & Adam Clayton Powell Blvd,7617.07,40.799484,-73.955613
6,E Houston St & Columbia St,5436.11,40.719786,-73.978716
...,...,...,...,...
3362744,Harborside,JC104,40.719252,-74.034234
3460054,Columbus Drive,JC014,40.718355,-74.038914
3615832,Newport Pkwy,JC008,40.728745,-74.032108
3761317,Willow Ave & 12 St,HB505,40.751867,-74.030377
3790829,Montgomery St,JC099,40.719420,-74.050990

In [29]:
station_names.to_csv("data/stations.csv", sep='\t', encoding='utf-8')

In [30]:
# just getting ride of some rows that did not seem important
subset = data.iloc[:,2:12]

# print(list(data.columns[2:3]) + list(data.columns[4:12]))

# list(data.columns[1]) + list(df.columns[4:])
subset.head()

# so really I should make a table that has station id, name, lat and long, then i can fix lost information and remove a bunch
# of columns

,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat
0,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574
1,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236
2,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445
3,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484
4,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445

In [31]:
# ha it's along the water in new jersy no wondre it's so popular at midnight 
data.loc[data['start_station_id'] == 'HB103']

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
3702216,6D64386D86D8CEA9,classic_bike,18,4,22,2023-08-18 22:27:28,2023-08-18 23:17:31,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,Bergen Ave & Sip Ave,JC109,40.728795,-74.011989,40.731009,-74.064437,0.002214,-0.052448,0 days 00:50:03,member
3977596,F78ED6338EB2EAA8,classic_bike,12,5,14,2023-08-12 14:51:54,2023-08-12 14:59:26,South Waterfront Walkway - Sinatra Dr & 1 St,HB103,14 St Ferry - 14 St & Shipyard Ln,HB202,40.697710,-73.969835,40.752961,-74.024353,0.055251,-0.054517,0 days 00:07:32,casual

In [32]:
# calculating the duarion of the trip... what about trip to the same station??

pd.to_datetime(data.started_at)

# subset.dtypes
subset['trip_duration'] = (pd.to_datetime(data.ended_at)- pd.to_datetime(data.started_at))

subset.head()

,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,trip_duration
0,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,0 days 00:35:37
1,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,0 days 00:01:21
2,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,0 days 00:06:15
3,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,0 days 00:30:13
4,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,0 days 00:47:18

In [33]:
# so like 5 k that seem like they are meaningless or bad bikes,
# I guess this could be it's own information like how many misfires do you get a month 

# subset.loc[subset['trip_duration'] < pd.Timedelta("0 days 00:02:00")]
# subset.sort_values(by=['trip_duration'])

# 120 with no end information and seemingly long trips so possibly stolen or bad stations 
# same here possible stolen bikes is it more concentrated in certain areas 
subset.loc[subset['end_lat'].isna()]

# subset.loc[subset['start_lat'].isna()]
# should be looking for more bad data

KeyError: 'end_lat'

In [ ]:
# spliting hour and date not sure if it is nec
subset['start_date'] = pd.to_datetime(data.started_at).dt.date
subset['start_hour'] = pd.to_datetime(data.started_at).dt.hour

# subset['start_at'] = pd.to_datetime(data.started_at)

# subset.assign(Date=pd.to_datetime(subset.started_at).dt.round('H'))
# df['date'] = df['full_date'].dt.date
# df['time'] = df['full_date'].dt.time

subset.head()
# subset.dtypes

In [ ]:
# just getting rid of more unwanted data


subset = subset.iloc[:,3:]

In [ ]:
subset.head()

In [ ]:
# here I am starting to aggreate my data this does it by day and hour 
# df2 = subset.groupby(['start_station_id','end_station_id', 'start_date', 'start_hour'])['end_station_name'].count().reset_index() 

# so you can get average trip duration 
# df2 = subset.groupby(['start_station_id','end_station_id', 'start_date', 'start_hour']).agg({'end_station_name':'size', 'trip_duration':'mean'}).reset_index() 

df2 = subset.groupby(['start_station_id','end_station_id']).agg({'end_station_name':'size', 'trip_duration':'mean'}).reset_index() 


print(df2.shape)

# df2.sort_values(by=['end_station_name'])

# when we do it by day and hour we really only drop 20k of which 5k maybe bad bikes 

# so just 3K stations that have more than one trip to same station when looked at by 
# df2.loc[df2['end_station_name'] > 2].sort_values(by=['end_station_name'])

greater_5 = df2.loc[(df2['end_station_name'] > 2)&(df2['trip_duration'] > pd.Timedelta("0 days 00:05:00"))].sort_values(by=['end_station_name'])


# (df['channel'] == 'sale')&(df['type']=='A')
# maybe I should start with the whole month, then work to a week or somethiing 

greater_5.shape

In [ ]:

# here i was just checking 

# rslt_df = subset[(subset['start_station_id']=='JC003') & (subset['end_station_id']  == 'JC115')  & (subset['start_hour']  == 11)] 

# #  np.where((data['start_station_id']=='JC003') & (data['end_station_id']  == 'JC115')) & (dataFrame['JOB'].str.startswith('D')))

# rslt_df

In [ ]:
# salary_nan_count = greater_5['start_station_id'].isna().sum()

# ok will probably just redo this without pairing down my data 

salary_nan_count = greater_5['end_station_id'].isna().sum()

print(salary_nan_count)

greater_5_1 = pd.merge(greater_5, station_names, left_on='start_station_id', right_on='station_id')

greater_5_1.shape
greater_5_2 =  pd.merge(greater_5_1, station_names, left_on='end_station_id', right_on='station_id')



# greater_5_2.to_csv("data/rides.csv", sep='\t', encoding='utf-8')

greater_5_2.head()

greater_5_2 = greater_5_2.loc[(greater_5_2['end_station_name'] > 100)]

greater_5_2.to_csv("data/rides.csv", sep='\t', encoding='utf-8')

greater_5_2

In [ ]:
# the other biking data 


# reading in data
new_data = pd.read_csv('data/Bicycle_Counters_20231119.csv')

new_data

In [ ]:
new_data_2 = pd.read_csv('data/Bicycle_Counts_20231119.csv')

new_data_2

In [ ]:
new_data_2 = new_data_2[4800000: 5000000]
new_data_2

In [ ]:
# new_data_2['date'] = pd.to_datetime(new_data_2['date'])
# new_data_2['date']

In [ ]:
filtered_df = new_data_2.loc[(pd.to_datetime(new_data_2['date']) >= '2023-08-01')
                     & (pd.to_datetime(new_data_2['date']) < '2023-09-01')]

filtered_df

In [ ]:
# result = pd.concat([new_data, filtered_df], axis=1, join="inner")

# result
counts = new_data.merge(filtered_df, left_on='id', right_on='id')

counts.to_csv("data/counts.csv", sep='\t', encoding='utf-8')

In [48]:
# want to create those bike routes again

routes = data.loc[(data['start_station_name'] != data['end_station_name'])]

routes
# df = df.loc[(df['data2'] >= threshold) and (df['data2'] == '')]

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
0,C5E94016E7939757,classic_bike,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,0.065784,0.022340,0 days 00:35:37,member
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,-0.003056,0.000583,0 days 00:01:21,member
2,341D3CE4743A92EC,classic_bike,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,-0.005737,0.007712,0 days 00:06:15,member
3,21C763DECA96FD02,classic_bike,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,-0.054316,-0.031218,0 days 00:30:13,member
4,A8533C28598A6AB8,classic_bike,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,0.077913,0.037849,0 days 00:47:18,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093164,1DF107B2D3236068,classic_bike,1,1,17,2023-08-01 17:08:26,2023-08-01 17:17:22,W 17 St & 8 Ave,6148.02,Gramercy Park N & Gramercy Park E,6013.12,40.741776,-74.001497,40.737950,-73.985090,-0.003826,0.016407,0 days 00:08:56,member
4093165,168B289864D8DE47,classic_bike,27,6,17,2023-08-27 17:06:25,2023-08-27 17:23:47,W 17 St & 8 Ave,6148.02,W 47 St & 10 Ave,6824.07,40.741776,-74.001497,40.762699,-73.993012,0.020923,0.008485,0 days 00:17:22,member
4093166,18FC63FE8411C4B1,classic_bike,24,3,8,2023-08-24 08:22:50,2023-08-24 08:32:43,Bergen St & Vanderbilt Ave,4157.10,Kingston Ave & Herkimer St,4205.06,40.679461,-73.967905,40.678907,-73.941428,-0.000554,0.026478,0 days 00:09:53,member
4093167,8806D0CDD899C339,classic_bike,6,6,13,2023-08-06 13:33:22,2023-08-06 13:38:43,Adam Clayton Powell Blvd & W 123 St,7704.04,Lenox Ave & W 133 St,7790.04,40.807832,-73.949373,40.812960,-73.941878,0.005128,0.007495,0 days 00:05:21,member
4093168,FEDA43F66995347C,classic_bike,29,1,17,2023-08-29 17:02:02,2023-08-29 17:04:51,E 7 St & Avenue A,5626.07,E 13 St & Avenue A,5779.09,40.726218,-73.983799,40.729667,-73.980680,0.003449,0.003119,0 days 00:02:49,member

In [49]:
routes.dropna()

routes

,ride_id,rideable_type,day,day_of_week,hour,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,change_in_lat,change_in_lng,trip_duration,member_casual
0,C5E94016E7939757,classic_bike,29,1,21,2023-08-29 21:15:27,2023-08-29 21:51:04,Lexington Ave & E 36 St,6313.10,Amsterdam Ave & W 125 St,7800.03,40.747574,-73.978801,40.813358,-73.956461,0.065784,0.022340,0 days 00:35:37,member
1,E88D94798ABBBD7C,classic_bike,6,6,19,2023-08-06 19:03:35,2023-08-06 19:04:56,Rockaway Ave & Bainbridge St,4285.09,MacDougal St & Rockaway Ave,4212.01,40.683236,-73.911943,40.680180,-73.911360,-0.003056,0.000583,0 days 00:01:21,member
2,341D3CE4743A92EC,classic_bike,2,2,20,2023-08-02 20:34:04,2023-08-02 20:40:19,W 13 St & 5 Ave,5947.04,E 10 St & 2 Ave,5746.02,40.735445,-73.994310,40.729708,-73.986598,-0.005737,0.007712,0 days 00:06:15,member
3,21C763DECA96FD02,classic_bike,14,0,13,2023-08-14 13:47:23,2023-08-14 14:17:36,Central Park North & Adam Clayton Powell Blvd,7617.07,5 Ave & E 29 St,6248.06,40.799484,-73.955613,40.745168,-73.986831,-0.054316,-0.031218,0 days 00:30:13,member
4,A8533C28598A6AB8,classic_bike,3,3,13,2023-08-03 13:05:09,2023-08-03 13:52:27,W 13 St & 5 Ave,5947.04,Amsterdam Ave & W 125 St,7800.03,40.735445,-73.994310,40.813358,-73.956461,0.077913,0.037849,0 days 00:47:18,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4093164,1DF107B2D3236068,classic_bike,1,1,17,2023-08-01 17:08:26,2023-08-01 17:17:22,W 17 St & 8 Ave,6148.02,Gramercy Park N & Gramercy Park E,6013.12,40.741776,-74.001497,40.737950,-73.985090,-0.003826,0.016407,0 days 00:08:56,member
4093165,168B289864D8DE47,classic_bike,27,6,17,2023-08-27 17:06:25,2023-08-27 17:23:47,W 17 St & 8 Ave,6148.02,W 47 St & 10 Ave,6824.07,40.741776,-74.001497,40.762699,-73.993012,0.020923,0.008485,0 days 00:17:22,member
4093166,18FC63FE8411C4B1,classic_bike,24,3,8,2023-08-24 08:22:50,2023-08-24 08:32:43,Bergen St & Vanderbilt Ave,4157.10,Kingston Ave & Herkimer St,4205.06,40.679461,-73.967905,40.678907,-73.941428,-0.000554,0.026478,0 days 00:09:53,member
4093167,8806D0CDD899C339,classic_bike,6,6,13,2023-08-06 13:33:22,2023-08-06 13:38:43,Adam Clayton Powell Blvd & W 123 St,7704.04,Lenox Ave & W 133 St,7790.04,40.807832,-73.949373,40.812960,-73.941878,0.005128,0.007495,0 days 00:05:21,member
4093168,FEDA43F66995347C,classic_bike,29,1,17,2023-08-29 17:02:02,2023-08-29 17:04:51,E 7 St & Avenue A,5626.07,E 13 St & Avenue A,5779.09,40.726218,-73.983799,40.729667,-73.980680,0.003449,0.003119,0 days 00:02:49,member

In [50]:
routes = routes.groupby(['start_station_name', 'end_station_name']).agg({'start_lat': 'mean', 'start_lng': 'mean', 'end_lat': 'mean', 'end_lng': 'mean', 'start_station_id': "count"}).reset_index() 

# test_3 = less_2_min_same_satation.groupby(['start_station_name', 'rideable_type']).agg({'start_lat': 'mean', 'start_lng': 'mean', 'start_station_id': "count"}).reset_index()

routes.sort_values(by='start_station_id', ascending=False)

# routes.to_csv("data/routes_2.csv", sep='\t', encoding='utf-8')

,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,start_station_id
208318,Dock St & Front St,Old Fulton St,40.702712,-73.992505,40.702772,-73.993836,1299
435114,Old Fulton St,Dock St & Front St,40.702771,-73.993836,40.702709,-73.992530,1073
435813,Old Slip & South St,South St & Gouverneur Ln,40.703420,-74.007826,40.703554,-74.006702,944
432897,North Moore St & Greenwich St,Vesey St & Church St,40.720268,-74.010221,40.712220,-74.010472,813
548671,W 34 St & Hudson Blvd E,W 34 St & 11 Ave,40.755264,-74.000473,40.755942,-74.002116,772
...,...,...,...,...,...,...,...
295891,Eastern Pkwy & Schenectady Ave,Henry St & Remsen St,40.668760,-73.933760,40.694010,-73.994651,1
295890,Eastern Pkwy & Schenectady Ave,Henry St & Degraw St,40.668775,-73.933611,40.684751,-73.999173,1
295889,Eastern Pkwy & Schenectady Ave,Harrison Pl & Porter Ave,40.668746,-73.933450,40.706860,-73.928510,1
295888,Eastern Pkwy & Schenectady Ave,Hanson Pl & Ashland Pl,40.668738,-73.933651,40.685068,-73.977908,1
610803,York St & Marin Blvd,Grant Ave & MLK Dr,40.728690,-74.012003,40.709198,-74.080843,1

In [53]:
routes = routes.loc[(routes['start_station_id'] > 500)]
routes.to_csv("data/routes_3.csv", sep='\t', encoding='utf-8')